@import "resets";
@import "mixins";
@import "variables";

#main-nav{
    background-color: $deepBlue;

    ul{
        width:100%;
    @include clearFix;
    }
    li{
  float:left;
  width:14%;

    }
    a{
        color: $offWhite;
        text-decoration: None;
        padding:16px;
        display:block;
        text-align:center;
        &:hover{
            background-color: #333;
        }
    }

}

//end main-nav



section h1{

    font-size: $sectionHeading;
}


.lead-banner{

    @include banner;
    .banner-content{
        text-align:right;
        
    }
}
.lessons-banner{


    @include banner;
    li{


        text-transform: uppercase;
        font-size: 15px;
        max-width: 500px;
        margin: 26px 0px;

    }
}